{% extends "__base.html" %}


{% block content %}
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> 

  Hello World

  <div x-data="{ count: 0 }">
    <button class="btn btn-primary"  x-on:click="count++">Increment</button>
    <span x-text="count"></span>
</div>




{% endblock %}