 {% extends "__base.html" %} 


{% block content %}
{% if user.is_authenticated %}
  

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Price Check App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
  <section class="header">
    <nav>
      <a href="index.html"><img src=" {% static 'images/logo.png' %}" width="90" height="40" margin-right="100" alt="logo" /></a>
      <div class="nav-links">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Saved</a></li>
          <li><a href="">List Item</a></li>
          <li><a href="">Log out</a></li>
          
        </ul>
      </div>
    </nav>
    <!--Website name and slogan-->
    <div class="text-box">
      <h1><br />Price Check Marketplace<br /></h1>
      <p>Serving 7th Street with Caution since 2022!</p>
      <a href=""></a>
    </div>
    
    <div class="product-container">
      <!--Product 1 on Grid-->
      <div class="card">
        <div class="image">
          <a href="product.html"><img src=" {% static 'images/product1.png' %}" width="300" height="200" alt="logo" /></a>
        </div>
        <div class="title">Adidas Soccer Ball</div>
        <div class="price">$30</div>
        <div class="location">Fontana, CA</div>
        <div>
          <a href="product.html"><button class="buy-button">Buy</button> </a>
        </div>
      </div>
     
      <!--Product 2 on Grid-->
      <div class="card">
        <div class="image"><img src=" {% static 'images/product1.png' %}" width="300" height="200" alt="logo" /></div>
        <div class="title">Golf Balls</div>
        <div class="price">$27</div>
        <div class="location">Fontana, CA</div>
        <div>
          <a href="product.html"><button class="buy-button">Buy</button></a>
        </div>
      </div>
      
      <!--Product 3 on Grid-->
      <div class="card">
        <div class="image"><img src=" {% static 'images/product1.png' %}" width="300" height="200" alt="logo" /></div>
        <div class="title">Golf Balls</div>
        <div class="price">$27</div>
        <div class="location">Fontana, CA</div>
        <button class="buy-button">
            <ul>
            <li><a href="">Buy</a></li>
            </ul>
            <a href="product.html">
          </button>    
        </div>
      </div>
    </div>
  </section>
</body>
</html>

{% else %}
 <marquee><p>You are not logged in</p></marquee>

  <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Price Check App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
  <section class="header">
    <nav>
      <a href="index.html"><img src=" {% static 'images/logo.png' %}" width="90" height="40" margin-right="100" alt="logo" /></a>
      <div class="nav-links">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Saved</a></li>
          <li><a href="">List Item</a></li>
          <li><a href="">Log In</a></li>
          
        </ul>
      </div>
    </nav>
    <!--Website name and slogan-->
    <div class="text-box">
      <h1><br />Price Check Marketplace<br /></h1>
      <p>Serving 7th Street with Caution since 2022!</p>
      <a href=""></a>
    </div>
    
    <div class="product-container">
      <!--Product 1 on Grid-->
      <div class="card">
        <div class="image">
          <a href="product.html"><img src=" {% static 'images/product1.png' %}" width="300" height="200" alt="logo" /></a>
        </div>
        <div class="title">Adidas Soccer Ball</div>
        <div class="price">$30</div>
        <div class="location">Fontana, CA</div>
        <div>
          <a href="product.html"><button class="buy-button">Buy</button> </a>
        </div>
      </div>
     
      <!--Product 2 on Grid-->
      <div class="card">
        <div class="image"><img src=" {% static 'images/product1.png' %}" width="300" height="200" alt="logo" /></div>
        <div class="title">Golf Balls</div>
        <div class="price">$27</div>
        <div class="location">Fontana, CA</div>
        <div>
          <a href="product.html"><button class="buy-button">Buy</button></a>
        </div>
      </div>
      
      <!--Product 3 on Grid-->
      <div class="card">
        <div class="image"><img src=" {% static 'images/product1.png' %}" width="300" height="200" alt="logo" /></div>
        <div class="title">Golf Balls</div>
        <div class="price">$27</div>
        <div class="location">Fontana, CA</div>
        <button class="buy-button">
            <ul>
            <li><a href="">Buy</a></li>
            </ul>
            <a href="product.html">
          </button>    
        </div>
      </div>
    </div>
  </section>
</body>
</html>
{% endif %}



{% endblock %}