<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Price Check Login Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="header">
        <nav>
          <a href="index.html"><img src="images/logo.png" /></a>
          <div class="nav-links">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="">Saved</a></li>
              <li><a href="listitem.html">List Item</a></li>
              <li><a href="login.html">Login</a></li>
            </ul>
          </div>
        </nav>

    <div class="center">
      <h1>Sign In</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a href="signup.html">Signup</a>
        </div>
      </form>
    </div>

  </body>
</html>