{% extends '__base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% comment %} <div class="card">
    <div class="card-body">

        <h1 class="card-title" >{{ object.item_name }}</h1>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6">
                <div class="white-box text-center"><img src="" class="img-responsive"></div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6">
                <h4 class="box-title mt-5">Product description</h4>
                <p>{{ object.item_discription }}</p>
                <h2 class="mt-5">
                    ${{ object.price }}
                </h2>
                    <i class="fa fa-shopping-cart"></i>
                </button>
                <button class="btn btn-primary btn-rounded">Contact Seller</button>    
                </ul>
            </div>
        </div >
    </div>
</div> {% endcomment %}

{% comment %} {% endblock content %}  {% endcomment %}



<div class="card">
    <div class="card-body">

<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100 text-center">
        <div class="col">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-lg" data-mdb-toggle="modal"
            data-mdb-target="#exampleModal1">
            Track your order
          </button>
  
          <!-- Modal -->
          <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content text-white" style="background-color: #6d5b98; border-radius: 10px;">
                <div class="modal-header border-bottom-0">
                  <button type="button" class="btn-close btn-close-white" data-mdb-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body text-start px-4 pt-0 pb-4">
                  <div class="text-center">
                    <h5 class="mb-3">Order Status</h5>
                    <h5 class="mb-5">AWB Number-5335T5S</h5>
                  </div>
  
                  <div class="d-flex justify-content-between mb-5">
                    <div class="text-center">
                      <i class="fas fa-circle"></i>
                      <p>Order placed</p>
                    </div>
                    <div class="text-center">
                      <i class="fas fa-circle"></i>
                      <p>In Transit</p>
                    </div>
                    <div class="text-center">
                      <i class="fas fa-circle"></i>
                      <p class="lead fw-normal">Out of Delivery</p>
                    </div>
                    <div class="text-center">
                      <i class="fas fa-circle" style="color: #979595;"></i>
                      <p style="color: #979595;">Delivered</p>
                    </div>
                  </div>
  
                  <div class="row justify-content-center">
                    <div class="col-md-4 text-center">
                      <p class="lead fw-normal">Shipped with</p>
                    </div>
                    <div class="col-md-4 text-center">
                      <p class="lead fw-normal">UPS Expedited</p>
                    </div>
                    <div class="col-md-2 text-center">
                      <i class="fas fa-phone fa-lg"></i>
                    </div>
                  </div>
  
                  <div class="row justify-content-center">
                    <div class="col-md-4 text-center">
                      <p class="lead fw-normal">Estimated Delivery</p>
                    </div>
                    <div class="col-md-4 text-center">
                      <p class="lead fw-normal">02/12/2017</p>
                    </div>
                    <div class="col-md-2 text-center">
                      <i class="fas fa-envelope fa-lg"></i>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}