{% extends '__base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



<style>
  div.row.justify-content-center.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row.cols-xl-4 {
    padding-top: 30px;
  }

  div.profile-img img {

    display: block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 50%
  }

  div.col-md-2 {
    padding-top: 25px;
  }

  .button.c {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  div.container.emp-profile {
    background-color: #FFCCCB;
  }
</style>

<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% comment %}
<!------ Include the above in your HEAD tag ----------> {% endcomment %}
<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4 Pro">
        <div class="profile-img">
          {% if object.photo %}
          <img src="{{ object.photo.url }}" alt="Avatar" width="200" height="200" />
          {% endif %}
          <h1 text-align="right">
          </h1>
        </div>
      </div>
      <div class="col-md-6">
        <h1 text-align="right">
          {{ object.username}}
        </h1>
        <div class="col-md-9">
          <p>{{object.bio}}</p>
        </div>
        <p><i class="bi bi-geo"></i> {{object.location}}</p>
      </div>
      <div class="col-md-2">
        {% if request.user.is_authenticated %}
        <a href="{% url 'apps:users:user_update' 1 %}">
          <button type="button a" class="btn btn-danger">Edit/Add Info</button>
        </a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Email:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{object.email}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Got It!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <button type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Contact
        </button>
      </div>
        <div class="row justify-content-center gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row cols-xl-4">
          {%for item in object.items.all%}
          <div class="col mb-5">
            <!--Product 1 on Grid-->
            <div class="card">
              <div class="">
                <a href="{% url 'apps:listing:detail' item.id %}"><img class="card-img-top" src=" {{ item.photo.url }}"
                    width="300" height="300" /></a>
              </div>
              <div class="card-body p-4">
                <div class="text-center">
                  <div class="fw-bolder">{{item.item_name}}</div>
                  <div class="">${{item.price}}</div>
                </div>
              </div>
              <div>
                <div class="card-footer pt-0 p-4 border-top-0 bg-transparent">
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </form>
</div>
{%endblock content%}