

          <footer class="text-center text-lg-start bg-light text-muted">
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                Made with 
                <div class="jiggle">
                    <script async>
                        BurningWords("Price Check", {
                            "text_color" : "000000",
                            "font" : "Times New Roman",
                            "font_size" : 30,
                            "bg_color" : "EEEEEE",
                            "bg_alpha" : 0,
                            "speed" : "normal"
                          });
                      </script>
                  </div>
            </div>
          </footer>