{% load static %}

<style>.text-box{
  /* width: 40%; */
  color: #4a0f0f;
  /* position: absolute; */
  /* top: 21%; */
  /* left: 35%; */
   /*transform: translate(0%,-45%);*/
   text-align: center;
   
}</style>
<nav class="navbar navbar-expand-lg bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'apps:listing:list' %}">
      <img src=" {% static 'images/logo.png' %}" width="90" height="40" margin-right="100" alt="logo" />
    </a>
    <div class="text-box">
      <style>.text-box{
        text-align: center;
      }

      </style>
      <h1><br />Price Check Marketplace<br /></h1>
      <p>Bringing you the best deals across the globe since 2022</p>
      <a href=""></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" href=""><i class="bi bi-bag-plus"></i> Saved</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'apps:listing:create' %}"><i class="bi bi-plus-circle"></i> List Item</a>
        </li> -->
        {% if user.is_authenticated %}

        <li class="nav-item"><a class="nav-link" href="" >Hello, {{ user.username }} </a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'apps:users:user-detail' username=user.username %}" >Profile</a></li>
        <li class="nav-item"><a class="nav-link" href=""><i class="bi bi-bag-plus"></i> Saved</a> </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'apps:listing:create' %}"><i class="bi bi-plus-circle"></i> List Item</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'apps:users:logout' %}">Log Out</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'apps:users:login' %}">Log In</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'apps:users:register' %}">Signup</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>