{% load static %}


<div>
    <nav>
        <a href="index.html"><img src=" {% static 'images/logo.png' %}" alt="logo" /></a>
        <div class="nav-links">
            <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Saved</a></li>
            <li><a href="">List Item</a></li>
            <li><a href="">Log out</a></li>
            <li><a href="">Reset Password</p></li></a>
          </ul>
        </div>
      </nav>
      <!--Website name and slogan-->
      <div class="text-box">
        <h1><br />Price Check Marketplace<br /></h1>
        <p>Serving 7th Street with Caution since 2022!</p>
        <a href=""></a>
      </div>
</div>