{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div x-data="{ open: true }">
        <div x-show="open" x-transition>

            <div class="alert alert-primary d-flex">
                <div>
                    <span>{{ message }}</span>
                </div>
                <div class="ms-auto" role="button" x-on:click="open = false">
                    <i class="bi bi-x-circle"></i>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}