






<form autocomplete="off">
    {% if braintree_error %}
      <div class="alert alert-danger fade in">
          <button class="close" data-dismiss="alert">&times;</button>
          {{ braintree_error|safe }}
      </div>
    {% endif %}
    <div class="braintree-notifications"></div>
    <div id="braintree-dropin"></div>
    <input style="background-color: #0783ca" id="submit-button" class="btn btn-success btn-lg btn-block" type="button" value="Pay now!" />
  </form>



<script src="https://js.braintreegateway.com/web/dropin/1.18.0/js/dropin.min.js"></script>
<script>
    var braintree_client_token = "{{ braintree_client_token }}";
    var button = document.querySelector('#submit-button');

    braintree.dropin.create({
      authorization: braintree_client_token,
      container: '#braintree-dropin',
      card: {
        cardholderName: {
            required: false
        }
      }
    }, function (createErr, instance) {
        button.addEventListener('click', function () {
            instance.requestPaymentMethod(function (err, payload) {
              fetch( '{% url "apps:listing:payment" %}', {method: "POST", headers: {"X-CSRFToken": '{{ csrf_token }}', paymentMethodNonce: payload.nonce, pk: "{{ pk }}"}  }).then(() => {window.location.href = '{% url "apps:listing:list" %}'})
            });
        });
    });
</script>